<nav id="nav">
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | relative_url }}">{{page.title}}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="#">A Menu</a>
            <ul>
                <li><a href="#">Entry 1</a></li>
                <li><a href="#">Entry 2</a></li>
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li><a href="#">Option 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" class="button primary">Sign Up</a></li>
    </ul>
</nav>
